<% include ../partials/boilerplate.ejs %>

<h1> Building Complaints </h1>

<div>
  <h2><%= message %></h2>
  <% let allComplaints = JSON.stringify(complaints[0]) %>
  <h3><%= allComplaints %></h3>
  <p><%=  %></p>
</div>

<% for(var i=0; i<JSON.stringify(complaints.length); i++) {%>
     <tr>
       <%= JSON.stringify(complaints[i].address)%> <br><br>
       <%= JSON.stringify(complaints[i].complaint)%> <br><br>
       <%= JSON.stringify(complaints[i].comment)%> <br><br>
     </tr> <br><br>
<% } %>


<% include ../partials/footer.ejs %>




