<% include ../partials/boilerplate.ejs %>

<h1> Building Queries </h1>

<div>
  <h2><%= message %></h2>
  <h3><%=  %></h3>
</div>

<% for(var i=0; i<JSON.stringify(buildings.length); i++) {%>
     <tr>
       <%= JSON.stringify(buildings[i].address).replace(/"/g,"")%> <br>
       <%= JSON.stringify(buildings[i].borough).replace(/"/g,"")%> <br>
       <%= JSON.stringify(buildings[i].zipcode).replace(/"/g,"")%> 

       <form action="/buildings/complaints" method="post">
			<label>
				<input type="text" name="propId" value="<%= JSON.stringify(buildings[i].propertyid).replace(/"/g,""); %>">
			</label>
			<input type="submit" name="submit" value="<%= JSON.stringify(buildings[i].numcomplaints)%>Complaints">
		</form>

		<form action="/buildings/violations" method="post">
			<label>
				<input type="text" name="propId" value="<%= JSON.stringify(buildings[i].propertyid).replace(/"/g,""); %>">
			</label>
			<input type="submit" name="submit" value="<%= JSON.stringify(buildings[i].numviolations) %>Violations">
		</form>

		<form action="/buildings/queries/?_method=Delete  method="post">
			<label>
				<input type="text" name="propId" value="<%= JSON.stringify(buildings[i].propertyid).replace(/"/g,""); %>">
			</label>
			<input type="submit" value="Delete">
		</form>

       <br><br>
     </tr>
<% } %>




<% include ../partials/footer.ejs %>