<% include ../partials/boilerplate.ejs %>


<h1> Building Complaints </h1>

<div>
  <h2><%= message %></h2>
  <h2><%= JSON.stringify(complaints[0].address).replace(/"/g,"").replace(/:/g,"").replace(/^\s*/gm, '') %></h2>
  <% let allComplaints = JSON.stringify(complaints[0]).replace(/"/g,"") %>
</div>

<% for(var i=0; i<JSON.stringify(complaints.length); i++) {%>
     <tr>
       <%= JSON.stringify(complaints[i].timedate).replace(/"/g,"").replace(/^\s*/gm, '')%> <br>
       <%= JSON.stringify(complaints[i].complaint).replace(/"/g,"")%> <br>
       <%= JSON.stringify(complaints[i].comment).replace(/"/g,"")%> <br>
       Status: <%= JSON.stringify(complaints[i].status).replace(/"/g,"")%>
       <%= JSON.stringify(complaints[i].categoryCode)%> <br>
       Priority: <%= JSON.stringify(complaints[i].priority).replace(/"/g,"")%> <br><br>
     </tr> <br><br>
<% } %>


<% include ../partials/footer.ejs %>




