<% include ../partials/boilerplate.ejs %>

<br>
<h1 class="text-center"> Building Complaints </h1>

<div>
  <h2><%=  %></h2>
  <h2 class="text-center"><%= JSON.stringify(complaints[0].address).replace(/"/g,"").replace(/:/g,"").replace(/^\s*/gm, '') %></h2>
  <% let allComplaints = JSON.stringify(complaints[0]).replace(/"/g,"") %><br>
</div>

<div class="text-center">
  <% for(var i=0; i<JSON.stringify(complaints.length); i++) {%>
       <tr><hr><br>
         <%= JSON.stringify(complaints[i].timedate).replace(/"/g,"").replace(/^\s*/gm, '')%> <br>
         <%= JSON.stringify(complaints[i].complaint).replace(/"/g,"")%> <br>
         <%= JSON.stringify(complaints[i].comment).replace(/"/g,"")%> <br>
         Status: <%= JSON.stringify(complaints[i].status).replace(/"/g,"")%>
         <%= JSON.stringify(complaints[i].categoryCode)%> <br>
         Priority: <%= JSON.stringify(complaints[i].priority).replace(/"/g,"")%> <br>
         Guest Comment: <%= JSON.stringify(complaints[i].usercomment)%>
       </tr> <br><br>
  <% } %>
</div>


<% include ../partials/footer.ejs %>




